/*header*/
.icon-container {
    /*border: 1px solid red;*/
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 9000;
    
}

.ion-social-instagram {
    color: lightgray;
    font-size: 1.0em;
    position: relative;
    left: 42%;
    
}

.author-container {
    /*border: 2px solid yellow;*/
    background: pink;
    font-size: 1.3em;
    font-family: serif;
    color: #fff;
    
}
.author-image img {
    position: relative;
    left: 15%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 5%;
    
}
.author-image {
    /*border: 1px solid black;*/
}


.text {
   
    text-align: center;
    font-family:serif;
    font-size: 1.5em;
    /*border: 1px solid red;*/
    
}

.button {
    color: #000000;
    background-color:lightblue;
    font-size: 0.6em;
    margin-bottom: 4%;
    border: 1px solid lightblue;
}

.button:hover{
    color: #fff;
    transition: 2.1s;
}

/* using the animation*/

.animated infinite bounce delay-2s {
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

body{
    
height: 200vh;
}
.data-cart-info{
    font-size: 1.5em;
}


/*section*/


.btn{
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 10px 10px;
}
